.founder {
  width: calc(100% - 100px);
  background-image: url('../../public/static/images/founder-background.jpg');
  background-size: cover;
  margin-right: 130px;
  border-radius: 0 50px 50px 50px;
  position: relative;
  z-index: 3;
  margin-top: -270px;

  @media (max-width: 576px) {
    margin-right: 0;
    width: 100%;
    border-radius: 50px;
  }

  &__container {
    display: grid;
    grid-template-columns: 1fr 3fr;
    gap: 90px;
    padding: 50px 120px;

    @media (max-width: 576px) {
      padding: 50px;
    }

    @media screen and (max-width: 768px) {
      display: flex;
      flex-direction: column;
      gap: 40px;
    }

    &-left {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;

      .director-image {
        max-width: 200px;
        max-height: 200px;

        .image {
          border-radius: 50%;
          width: 100%;
          transition: transform 1s;

          &:hover {
            transform: scale(1.1);
          }
        }
      }

      .director-name {
        font-family: 'Proxima Nova';
        font-style: normal;
        font-weight: 700;
        font-size: 20px;
        line-height: 24px;
        text-align: center;
        letter-spacing: 2px;
        text-transform: uppercase;
        color: #FFFFFF;
        margin-top: 40px;
      }

      .director-title {
        font-family: 'Proxima Nova';
        font-style: italic;
        font-weight: 400;
        font-size: 16px;
        line-height: 16px;
        text-align: center;
        letter-spacing: 2px;
        color: #FFFFFF;
        height: 16px;
        margin-top: 8px;
      }
    }

    &-right {
      display: flex;
      align-items: center;
      flex-direction: column;
      max-height: 498px;

      .quotation-mark {
        max-width: 90px;
        margin-bottom: 25px;

        @media screen and (max-width: 768px) {
          max-width: 45px;
        }
      }

      .quotation-text {
        font-family: 'Proxima Nova';
        font-style: normal;
        font-weight: 400;
        font-size: 22px;
        line-height: 48px;
        letter-spacing: 2px;
        color: #FFFFFF;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-box-orient: vertical;
        display: -webkit-box;
        -webkit-line-clamp: 6;

        @media (max-width: 1080px) {
          font-size: 15px;
          line-height: 36px;
        }

        @media (max-width: 1024px) {
          font-size: 14px;
          line-height: 36px;
        }
      }
    }
  }
}