.homepage {
  background: #E5E5E5;

  &__header {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100px;
    z-index: 1000;
    transition: background 0.5s;
    display: flex;

    .header-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 0 20px;

      .homepage-logo {
        width: 120px;
        margin-left: 60px;
        opacity: 0;

        @media screen and (max-width: 768px) {
          opacity: 1;
        }

        @media screen and (max-width: 576px) {
          margin-left: 0;
        }
      }

      .navbar {
        display: flex;
        align-items: center;

        &-button {
          font-family: 'Proxima Nova';
          font-style: normal;
          font-weight: 700;
          font-size: 14px;
          line-height: 17px;
          display: flex;
          align-items: center;
          text-align: center;
          letter-spacing: 1.14286px;
          color: #FFFFFF;
          cursor: pointer;
          padding: 20px 10px;
          background: linear-gradient(90deg, #4EE5EA 3.94%, #26D0A8 94.73%);
          border-radius: 24px;
          margin-right: 45px;


          @media screen and (max-width: 576px) {
            margin-right: 15px;
            font-size: 12px;
            padding: 10px;
          }

          @media screen and (max-width: 576px) {
            opacity: 0;
          }

          &:hover {
            transform: scale(1.05);
          }
        }

        &-menu {
          cursor: pointer;
          width: 30px;
          height: 22px;
          margin-right: 40px;

          @media screen and (max-width: 576px) {
            margin-right: 0;
          }

          svg {
            @media screen and (max-width: 768px) {
              fill: #414042;
            }

            &:hover {
              fill: #26C6D0;
            }
          }
        }
      }
    }

    @media screen and (max-width: 768px) {
      background-color: rgba(255, 255, 255, 0.9);
    }
  }
}