@mixin slogan($textColor) {
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 1.8px;
  color: $textColor;

  @media (max-width: 1100px) {
    font-size: 14px;
  }
}

@mixin title($textColor, $bgColor) {
  margin-top: 10px;
  font-family: 'Proxima Nova';
  font-style: normal;
  font-weight: 700;
  font-size: 32px;
  line-height: 39px;
  letter-spacing: 3.63636px;
  color: $textColor;

  &::after {
    content: '';
    height: 10px;
    width: 10px;
    background-color: $bgColor;
    border-radius: 50%;
    position: absolute;
    bottom: 8px;
    right: -20px;
  }

  @media (max-width: 1100px) {
    font-size: 24px;
  }
}

@keyframes tilt-shaking {
  0% { transform: rotate(0deg); }
  25% { transform: rotate(15deg); }
  50% { transform: rotate(0eg); }
  75% { transform: rotate(-15deg); }
  100% { transform: rotate(0deg); }
}

.side-menu {
  height: 100%;
  width: 100%;
  background-image: url('../../public/static/images/side-menu-background.jpg');
  position: fixed;
  top: 0;
  z-index: 10000;

  .background {
    background: linear-gradient(180deg, #585880 3.61%, #26C6D0 95.7%);
    opacity: 0.9;
    height: 100%;
    width: 100%;
  }

  &__header {
    display: flex;
    justify-content: space-between;

    .logo {
      width: 140px;
      margin: 40px 0 0 60px;

    }

    .close-button {
      width: 24px;
      margin: 48px 64px 0 0;
      height: 24px;
      cursor: pointer;

      &:hover {
        transform: scale(1.15);
      }
    }
  }

  .menu {
    margin: 0 auto;
    max-width: 1080px;
    padding: 0 20px;
    height: calc(100% - 102px);

    .side-menu__container {
      width: 100%;
      height: 100%;
      display: grid;
      grid-template-columns: 1fr 0.76fr 1fr;
      gap: 40px;
      align-items: center;

      .left {
        box-sizing: border-box;
        height: 100%;
        display: grid;
        grid-template-rows: 0.65fr 1fr;
        padding: 40px 0 105px 0;
        gap: 40px;

        .about-us {
          width: 100%;
          height: 100%;
          background-repeat: no-repeat;
          background: url('../../public/static/images/about-us.svg'), #26C6D0;
          border-radius: 30px;
          display: flex;
          align-items: center;
          cursor: pointer;
          background-size: 100%;
          background-position: center;
          transition: all .5s;

          .image {
            width: 40px;
            margin-left: 40px;
          }

          .text {
            margin-left: 30px;
            position: relative;

            .slogan {
              @include slogan(#FFFFFF);
            }

            .title-container {
              display: inline-block;
              position: relative;

              .title {
                @include title(#FFFFFF, #EE6C8A);
              }
            }
          }

          &:hover {
            transition: all .5s;
            background-size: 120%;
          }

          &:hover .image {
            animation: tilt-shaking 0.25s;
          }
        }

        .works {
          width: 100%;
          height: 100%;
          background-repeat: no-repeat;
          background: url('../../public/static/images/works.svg'), #EE6C8A;
          border-radius: 30px;
          display: flex;
          align-items: flex-end;
          cursor: pointer;
          background-size: 100%;
          background-position: center;
          transition: all .5s;

          .items {
            display: flex;
            margin-bottom: 60px;

            .image {
              width: 41px;
              margin-left: 40px;
            }

            .text {
              margin-left: 30px;
              position: relative;

              .slogan {
                @include slogan(#FFFFFF);
              }

              .title-container {
                display: inline-block;
                position: relative;

                .title {
                  @include title(#FFFFFF, #26C6D0);
                }
              }
            }
          }

          &:hover {
            transition: all .5s;
            background-size: 120%;
          }

          &:hover .image {
            animation: tilt-shaking 0.25s;
          }
        }
      }

      .middle {
        display: grid;
        grid-template-rows: 1fr 0.65fr;
        gap: 20px;
        box-sizing: border-box;
        height: 100%;
        padding: 0 0 45px 0;

        .careers {
          width: 100%;
          height: 100%;
          background-repeat: no-repeat;
          background: url('../../public/static/images/careers.svg'), #E6A94E;
          border-radius: 30px;
          position: relative;
          cursor: pointer;
          background-size: 100%;
          background-position: center;
          transition: all .5s;

          .items {
            position: absolute;
            bottom: 50px;
            margin-left: 40px;

            .image {
              width: 91px;
            }

            .slogan {
              @include slogan(#FFFFFF);
              margin-top: 30px;
            }

            .title-container {
              display: inline-block;
              position: relative;

              .title {
                @include title(#FFFFFF, #EE6C8A);
              }
            }
          }

          &:hover {
            transition: all .5s;
            background-size: 120%;
          }

          &:hover .image {
            animation: tilt-shaking 0.25s;
          }
        }

        .insights {
          width: 100%;
          height: 100%;
          background-repeat: no-repeat;
          background: url('../../public/static/images/insights.svg'), #26D0A8;
          border-radius: 30px;
          position: relative;
          cursor: pointer;
          background-size: 100%;
          background-position: center;
          transition: all .5s;

          .items {
            position: absolute;
            bottom: 50px;
            margin-left: 40px;

            .image {
              width: 24px;
            }

            .slogan {
              @include slogan(#FFFFFF);
              margin-top: 15px;
            }

            .title-container {
              display: inline-block;
              position: relative;

              .title {
                @include title(#FFFFFF, #EE6C8A);
              }
            }
          }

          &:hover {
            transition: all .5s;
            background-size: 120%;
          }

          &:hover .image {
            animation: tilt-shaking 0.25s;
          }
        }
      }

      .right {
        display: grid;
        grid-template-rows: 1fr 0.65fr;
        box-sizing: border-box;
        height: 100%;
        gap: 40px;
        padding: 40px 0 105px 0;

        .services {
          width: 100%;
          height: 100%;
          background-repeat: no-repeat;
          background: url('../../public/static/images/service.svg'), #585880;
          border-radius: 30px;
          position: relative;
          cursor: pointer;
          background-size: 100%;
          background-position: center;
          transition: all .5s;

          .items {
            position: absolute;
            bottom: 50px;
            margin-left: 40px;

            .image {
              width: 36px;
            }

            .slogan {
              @include slogan(#FFFFFF);
              margin-top: 15px;
            }

            .title-container {
              display: inline-block;
              position: relative;

              .title {
                @include title(#FFFFFF, #EE6C8A);
              }
            }
          }

          &:hover {
            transition: all 0.5s;
            background-size: 120%;
          }

          &:hover .image {
            animation: tilt-shaking 0.25s;
          }
        }

        .contact {
          width: 100%;
          height: 100%;
          background: #FFFFFF;
          border-radius: 30px;
          position: relative;
          cursor: pointer;

          .items {
            position: absolute;
            bottom: 50px;
            margin-left: 40px;

            .image {
              width: 36px;
            }

            .slogan {
              @include slogan(#262626);
            }

            .title-container {
              display: inline-block;
              position: relative;

              .title {
                @include title(#26C6D0, #EE6C8A);
              }
            }
          }
        }
      }
    }
  }
}